<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FosterOffice.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="FosterO.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FosterO.My.MySettings.DisposalDataconnectionString" connectionString="Data Source=C:\Users\Fred\Dropbox\Projects\FostersDisposal\Data\DisposalData.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
        <add name="FosterOffice.My.MySettings.DisposalDataconnectionString" connectionString="Data Source=C:\Users\Fred\Dropbox\Projects\FostersDisposal\Data\DisposalData.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <FosterOffice.My.MySettings>
            <setting name="DatabaseLocation" serializeAs="String">
                <value>Data Source=FREDHEIDRIC8DAD;Initial Catalog=DisposalData;Integrated Security=True</value>
            </setting>
            <setting name="SharedLocation" serializeAs="String">
                <value/>
            </setting>
            <setting name="TaxRate" serializeAs="String">
                <value/>
            </setting>
            <setting name="BackupLocation" serializeAs="String">
                <value/>
            </setting>
        </FosterOffice.My.MySettings>
        <FosterO.My.MySettings>
            <setting name="DatabaseLocation" serializeAs="String">
                <value/>
            </setting>
            <setting name="SharedLocation" serializeAs="String">
                <value/>
            </setting>
            <setting name="TaxRate" serializeAs="String">
                <value/>
            </setting>
            <setting name="BackupLocation" serializeAs="String">
                <value/>
            </setting>
        </FosterO.My.MySettings>
    </userSettings>
</configuration>
