<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MailingLabelApp.Properties.Settings.DISPOSALDATAConnectionString" connectionString="Data Source=DESKTOP-JJ1BU5E\SQLEXPRESS;Initial Catalog=DISPOSALDATA;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
</configuration>
