<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Charts" version="17.2.16" targetFramework="net461" />
  <package id="DevExpress.Charts.Core" version="17.2.16" targetFramework="net461" />
  <package id="DevExpress.CodeParser" version="17.2.16" targetFramework="net461" />
  <package id="DevExpress.Data" version="17.2.16" targetFramework="net461" />
  <package id="DevExpress.DataAccess" version="17.2.16" targetFramework="net461" />
  <package id="DevExpress.Diagram.Core" version="17.2.16" targetFramework="net461" />
  <package id="DevExpress.Gauges.Core" version="17.2.16" targetFramework="net461" />
  <package id="DevExpress.Images" version="17.2.16" targetFramework="net461" />
  <package id="DevExpress.Mvvm" version="17.2.16" targetFramework="net461" />
  <package id="DevExpress.Office.Core" version="17.2.16" targetFramework="net461" />
  <package id="DevExpress.Pdf.Core" version="17.2.16" targetFramework="net461" />
  <package id="DevExpress.PivotGrid.Core" version="17.2.16" targetFramework="net461" />
  <package id="DevExpress.Printing.Core" version="17.2.16" targetFramework="net461" />
  <package id="DevExpress.Reporting.Core" version="17.2.16" targetFramework="net461" />
  <package id="DevExpress.RichEdit.Core" version="17.2.16" targetFramework="net461" />
  <package id="DevExpress.RichEdit.Export" version="17.2.16" targetFramework="net461" />
  <package id="DevExpress.Sparkline.Core" version="17.2.16" targetFramework="net461" />
  <package id="DevExpress.Wpf.Core" version="17.2.16" targetFramework="net461" />
  <package id="DevExpress.Wpf.Diagram" version="17.2.16" targetFramework="net461" />
  <package id="DevExpress.Wpf.DocumentViewer.Core" version="17.2.16" targetFramework="net461" />
  <package id="DevExpress.Wpf.ExpressionEditor" version="17.2.16" targetFramework="net461" />
  <package id="DevExpress.Wpf.Grid" version="17.2.16" targetFramework="net461" />
  <package id="DevExpress.Wpf.Layout" version="17.2.16" targetFramework="net461" />
  <package id="DevExpress.Wpf.Navigation" version="17.2.16" targetFramework="net461" />
  <package id="DevExpress.Wpf.PivotGrid" version="17.2.16" targetFramework="net461" />
  <package id="DevExpress.Wpf.Printing" version="17.2.16" targetFramework="net461" />
  <package id="DevExpress.Wpf.PropertyGrid" version="17.2.16" targetFramework="net461" />
  <package id="DevExpress.Wpf.Reporting" version="17.2.16" targetFramework="net461" />
  <package id="DevExpress.Wpf.RichEdit" version="17.2.16" targetFramework="net461" />
  <package id="DevExpress.Wpf.Themes.Office2016White" version="17.2.16" targetFramework="net461" />
  <package id="DevExpress.Xpo" version="17.2.16" targetFramework="net461" />
</packages>