<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PickupTransaction.My.MySettings.DisposalDataconnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DisposalData;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PickupTransaction.My.MySettings.DisposalDataconnectionString1"
            connectionString="Data Source=FRED_DESKTOP_W7\LCSQLSERVER;Initial Catalog=DisposalData;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PickupTransaction.My.MySettings.DisposalDataconnectionString2"
            connectionString="Data Source=LCCS_WIN7_64;Initial Catalog=DisposalData;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PickupTransaction.My.MySettings.FostersDisposalconnectionString"
            connectionString="Data Source=FREDHEIDRIC8DAD;Initial Catalog=FostersDisposal;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PickupTransaction.My.MySettings.DisposalDataconnectionString3"
            connectionString="Data Source=FREDHEIDRIC8DAD;Initial Catalog=DisposalData;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PickupTransaction.My.MySettings.DisposalDataconnectionString4"
            connectionString="Data Source=FRED_DESKTOP_W7\LCSQLServer;Initial Catalog=DisposalData;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PickupTransaction.My.MySettings.DISPOSALDATAconnectionString5"
            connectionString="Data Source=FRED_DESKTOP_W7\LCEXPRESS;Initial Catalog=DISPOSALDATA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PickupTransaction.My.MySettings.DISPOSALDATAConnectionString6"
            connectionString="Data Source=LCCSWORK002\SQLEXPRESS;Initial Catalog=DISPOSALDATA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
</configuration>
